__pycache__/
*.py[cod]
*.tmp
*.tmp.*
*.temp
*.temp.*
*.bak
*.bak.*
*.swp
*.swp.*
*.swo
*.swo.*
*.orig
*.orig.*
*~
.DS_Store
[Tt][Ee][Mm][Pp]
[Tt][Ee][Mm][Pp].*
*[-_.][Tt][Ee][Mm][Pp]
*[-_.][Tt][Ee][Mm][Pp].*
.env
.env.*
!.env.example
!.env.sample
!.env.template
